@font-face {
    font-family: 'Cantarell';
    src:  url('/fonts/Cantarell-Regular.ttf')  format('truetype'), 
  }

body {
    background-image: url("/images/nuty-tlo.jpg");
    font-family: "Open Sans";
    overflow-x: hidden;
    
}


.border-image{
    background-color:black;
    height: 410px;
    margin-top:100px;
    margin-bottom:10px;
}

.img-center{
    display: block;
    margin: auto;
    max-height: 100%;
    margin-top:80px;
}

@media(max-width:992px){
    .border-image{
        margin-top:0;
        margin-bottom:0;
    }
    .img-center{
        margin-top:30px;
    }
}



.navbar{
   position: sticky;
   top: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.bg-light {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(246, 246, 246, 0.9) 52%, rgba(255, 255, 255, 0.7) 100%);
    background-color: #f8f9fa00 !important;
    height: 40px;
    z-index:100;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-shadow: 0px 0px 5px white;
    font-weight: bold;
}

.navbar-toggler {
    position: fixed !important;
    top: 2px;
    left: 2px;
    background: white;
    z-index: 100;
    font-size: 1.05rem;
    padding: 0.45rem 0.45rem !important;
}

@media(min-width:776px) { 

    .navbar-toggler { 
        padding: 0.65rem 0.65rem !important;
    }
}

@media(max-width:992px){
    .bg-light {
        background:  rgba(224,224,224,0) !important;  
        background-color:  rgba(224,224,224,0) !important;
    }
    .navbar {
        position: fixed;
        top: 40px;
        left: -6px;
        color: rgba(0, 0, 0, 0.5);
    }
    .navbar-collapse{
        border-color: rgba(0, 0, 0, 0.1) !important;
        background-color: white !important;
        border: 1px solid;
        border-radius: 7px;
        left: 7px;
        top: 5px;
        position: absolute;
        width: 150px;
        text-align: center;
    }
    
    .nav-item{
        border-color: rgba(0, 0, 0, 0.1) !important;
        border-bottom: 1px solid;
    }
    .nav-item:last-child{
        border: 0;
    }

    #navbar-button {
        
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 2.1rem;
        text-align: left;
    }

    html {
        overflow-x: hidden;
    }
}

.segment-title{
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #723075;
    height: 3rem;
    margin-bottom: 50px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: Cantarell;
    color:#815182;
}

.segment-page{
    padding-top: 60px !important;
    min-height: 500px;
    width: 70vw;
    max-width: 1300px;
    display: block;
    margin: auto;
}

@media(max-width:992px){
    .segment-page{
        width: 85vw;
        display: block;
        margin: auto;
        padding-top: 30px !important;
    }
    .segment-title{
        padding-left: 20px;
        margin-bottom:20px;
    }
}


.row{
    margin:0;
}

.active-lang{
    opacity: 0.3;
}

/* welcome page */
/* .welcome-page{
    min-height: calc( 100vh - 135px );
} */

#welcome-content{
    margin-top:50px;
}

.main-image{
    background-color:black;
    max-height:410px;
}

#img-welcome{
    display: block;
    margin: auto;
    max-width: 100vw;
    max-height:410px;
}

#main-logo {
    margin: auto;
    display: block;
    width: auto;
    display: table;
}

#img-logo {
    display: block;
    max-width: 60vw;
    margin-right: 350px;
    padding-bottom: 20px;
}

@media(max-width:992px){
    #biography-text{
        width:85vw;
    }
    #img-logo{
        padding-top: 50px;
        margin-left: 30px;
    }
} 

/* biography */ 

.justified-text{
    text-align: justify;
}

/* #biography{
    margin-top:300px;
}

@media(max-width:992px){
    #biography{
        margin-top:50px;
    }
} */

#biography-text{
    max-width:1000px;
    display: block;
    margin: auto;
    width:55vw;
}

@media(max-width:992px){
    #biography-text{
        width:85vw;
    }
} 

/* overlay */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    margin-left: -100%;
}

.overlay.open {
    margin-left: 0%;
}

.overlay-content {
    position: absolute;
    /*top: 120px;*/
    width: 100%;
    text-align: center;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 1vw;
    font-size: 60px;
    z-index: 1000;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.noscrool {
    overflow-y: hidden;
}


.lang-buttons{
position: absolute;
top: 10px;
right:10px;
}

.lang-button{
    width:27px;
    height:19px;
}


.mejs__controls:not([style*="display: none"]) {
    background: transparent !important;

}

.mejs__container {
    border-radius: 5px;
}

.table th, .table td {
    vertical-align: middle;
    font-size: 18px;
    width: 50%;
}

@media(max-width:992px){
    .table th, .table td {
        font-size: 0.875rem;
    }   
    .lang-button{
        width:22px;
        height:14px;
    } 
}

.col {
    flex-grow: 0;
    margin-bottom: 20px;
}

.music-display{
    margin-right: auto;
    margin-left: auto;
    /* max-width:1300px; */
    width: 100%;
}

.video{
    max-width: 100%;
    text-align: center;
}


iframe{
    width:400px; 
    height: 280px;
}

@media(max-width:1857px){
    iframe{
        width:20vw; 
        height:14vw;
    }
}

@media(max-width:1411px){
    iframe{
        width:32vw; 
        height:22vw;
    }
}

@media(max-width:992px){
    iframe{
        width:36vw; 
        height:25vw;
    }
}

@media(max-width:768px){
    iframe{
        width:80vw; 
        height:55.6vw;
    }
}

@media(max-width:992px){
    .mejs__container {
        min-width: 85px;
        max-width: 170px;
    }
    .mejs__volume-button{
        display:none;
    }
    .mejs__horizontal-volume-slider{
        display:none;
    }

}


tbody{
    width:400px; 
    height:260px;
    max-width:80vw;
}

#articles{
    padding:0.75rem;
}

.article-image{
    max-width: 70vw;
    margin-bottom:50px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width:992px){
    #articles{
        padding:0;
    }
    .table th, .table td{
        padding:0;
    }
    tbody{
        height:100px;
    }
    #articles{
        margin-bottom:40px;
    }
    .recordings-table{
        margin-bottom:40px;
    }

}

.recordings-table > tbody > tr > td > p {
    display: inline-block;
}

.gallery-photo{
    max-width:70vw;
    max-height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.gallery-thumb{
    width:400px;
    margin-bottom: 20px;
}

@media(max-width:1857px){
    .gallery-thumb{
        width:20vw; 
        /* 11.25 */
        height:11.25vw; 
    }
}

@media(max-width:1411px){
    .gallery-thumb{
        width:31vw; 
        height:17.44vw;
    }
}

@media(max-width:992px){
    .gallery-thumb{
        width:36vw;
        /* 20.25 */ 
        height:20.25vw;
    }
}

@media(max-width:768px){
    .gallery-thumb{
        width:80vw; 
        height:45.1vw;
    }
}

.mini-img {
    height: 150px;
    width: 105px;
}

.hide{
    display:none !important;
}

#concert-pic{
    width:100%;
}

.concert{
    /*border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #723075;*/
    background-color: #fff3;
    margin-bottom:20px;
    padding-bottom: 20px;
}

.concert > hr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #723075;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.concert:last-child{
    border: 0;
}

.concert-info{
    text-align:right;
    font-size: 12pt;
}

@media(max-width:992px){
    .concert-poster {
        display:none;
    }    
    .concert-info{
        text-align:left;
    }
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.344);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #723075;
}

#contact-info{
    padding-top:7%;
    padding-bottom:7%;
    font-size:1.5rem;
    max-width:100%;
    text-align: center;
}
@media(max-width:768px){
    #contact-info{
        font-size:1.2rem;
    }
}

#contact-form{
    margin: 0 auto;
    max-width:80%;
    
}

@media(max-width:768px){
    #contact-form{
        max-width:100%;
    }
}

#message-sent{
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 1.5rem;
    max-width: 100%;
    text-align: center;
}

.form-control{
    background-color: #fff6;
    border: 1px solid #815182;
}
.form-control:focus {
    border-color: #815182;
    box-shadow: 0 0 0 0.2rem #723075;
}

#send-msg-button{
    background-color: #815182!important;
    border-color: #723075!important;
    width:100%;
    cursor: pointer;
}
#send-msg-button:focus{
    box-shadow: 0 0 0 0.2rem #723075;
}
#send-msg-button:hover{
    background-color: #723075;
    border-color: #815182;
}


#footer {
    background-color: black;
    height: 30px;
    width: 100%;
    margin-top:68px;
}
.active-year{
    color:#815182 !important;
    font-weight: bold;
    /* cursor: initial !important;
    pointer-events: none; */
}
.concert-year {
    cursor: pointer;
    font-size: 15px;
  }

  .nav-link:hover{
    color:rgba(0, 0, 0, 0.76)!important;
  }

  .nav-link.active{
    color:rgba(0, 0, 0, 0.76)!important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #815182;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Cantarell;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(93, 2, 105, 0.672)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

  .openArticle > p {
    display: inline-block;
    margin-bottom: 0rem;
  }

  .article-link{
    cursor:pointer;
    font-size:18px;
  }
 
  .article-link > p {
    word-break: break-all;
    display: inherit;
    }

  @media(max-width:992px){
    .article-link{
        font-size:0.875rem;
        line-height: 25px;
      }
    
  }


  .article-link:not(.article-icon):hover{
    color:#815182;
  }

  .article-icon{
      color:black!important;
  }



  .ovelay-arrow{
    position: fixed;
    top: calc( 50vh - 10vh);
    color: white;
    font-size: 10vh;
    z-index: 1;
    cursor: pointer;
    cursor: hand;      
  }

  .left-arrow{
    left: 10px;
  }

  .right-arrow{
    right: 10px;
  }

  #up-arrow{
    float: right;
    cursor: pointer;
  }

  .overlay-content {
    display: table-cell;
    vertical-align: middle;
  }

  .overlay {
    display: table;
  }

  /* mobile years menu */

 /* mobile years menu */
 #mobile-years-menu{
    padding-bottom:30px;
}
@media(max-width:992px){
   #desktop-years-menu{
       display:none;
     }
     #mobile-years-menu{
        display:block;
      }
 }

 @media(min-width:992px){
   #mobile-years-menu{
       display:none;
     }
     #desktop-years-menu{
        display:block;
      }
 }

  .pn-ProductNav {
	/* Make this scrollable when needed */
	overflow-x: auto;
	/* We don't want vertical scrolling */
	overflow-y: hidden;
	/* Make an auto-hiding scroller for the 3 people using a IE */
	-ms-overflow-style: -ms-autohiding-scrollbar;
	/* For WebKit implementations, provide inertia scrolling */
	-webkit-overflow-scrolling: touch;
	/* We don't want internal inline elements to wrap */
	white-space: nowrap;
	/* Remove the default scrollbar for WebKit implementations */
	&::-webkit-scrollbar {
		display: none;
	}
}

.pn-ProductNav_Link {
	text-decoration: none;
	color: #888;
	font-size: 1.2em;
	font-family: -apple-system, sans-serif;
	display: inline-flex;
	align-items: center;
	min-height: 44px;
	& + & {
		margin-left: 11px;
		padding-left: 11px;
		border-left: 1px solid #eee;
	}
	&[aria-selected="true"] {
		color: #111;
	}
}



  #desktop-years-menu {
    padding-left: 5%;
    padding-right: 5%;
  }

  p {
    margin-top: 0;
    margin-bottom: 0rem;
  }

  /*.openArticle>p {
    display:inline !important;
    margin-bottom:0
   }*/

.tindent { 
    text-indent: 40px;
}